/* icon */

#icon--console {
   grid-column: 3 / 3;
   grid-row: 2 / 2;
}

.icon__console {
   height: 80%;
   width: 90%;
}

.icon__console__window {
   --icon-console-window-color: var(--color-gray);
   --icon-console-window-border-color: var(--color-black);
   --icon-console-window-height: 90%;
   --icon-console-window-border: var(--border-size);

   width: 100%;
   height: var(--icon-console-window-height);
   background-color: var(--icon-console-window-color);
   border: var(--icon-console-window-border) solid var(--icon-console-window-border-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   margin-top: calc(100% - var(--icon-console-window-height));
   padding: 0.2rem;
   padding-inline: 0.3rem;
}

.icon__console__window--horizontal--space--wider {
   padding: 0.1rem;
}

.icon__console__window__header__bar {
   --icon-console-window-header-bar-light-color: var(--color-risd-blue);
   --icon-console-window-header-bar-dark-color: var(--color-persian-blue);

   width: 100%;
   height: 15%;
   background: linear-gradient(to right, var(--icon-console-window-header-bar-light-color) 20%, var(--icon-console-window-header-bar-dark-color) 20%);
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.icon__console__window__header__bar__control {
   --icon-console-window-header-bar-control-color: var(--color-platinum);

   width: 7%;
   aspect-ratio: 1;
   background-color: var(--icon-console-window-header-bar-control-color);
   margin-right: 5%;
}

.icon__console__window__content {
   --icon-console-window-content-color: var(--color-platinum);
   --icon-console-window-content-shadow-size: 0.08;

   width: 100%;
   height: 70%;
   background-color: var(--icon-console-window-content-color);
   position: relative;
   overflow: hidden;
}

.icon__console__window__content::before, .icon__console__window__content::after {
   --icon-console-window-content-shadow-color: var(--color-dim-gray);

   content: '';
   display: block;
   width: 100%;
   height: calc(var(--icon-console-window-content-shadow-size) * 100%);
   background-color: var(--icon-console-window-content-shadow-color);
}

.icon__console__window__content::after {
   content: '';
   display: block;
   position: absolute;
   top: 0;
   transform-origin: bottom left;
   transform: rotateZ(90deg);
}

.icon__console__window__content__prompt {
   --icon-console-window-content-prompt-color: var(--color-black);

   font-weight: 900;
   color: var(--icon-console-window-content-prompt-color);
   position: absolute;
   left: calc(var(--icon-console-window-content-shadow-size) * 100%);;
   margin: 0;
   visibility: hidden;
}

#icon--console:has(#icon--console--input:checked) .show--prompt {
   animation-name: hide-animation;
   animation-duration: 0s;
   animation-fill-mode: forwards;
} 

/* window */

#window--console {
   width: clamp(255px, 30%, 450px);
   height: clamp(220px, 30%, 330px);
   z-index: 10;
   display: none;
}

.window--console--position {
   left: 0;
   bottom: 0;
}

.desktop:has(#icon--console--input:checked) #window--console {
   display: block;
} 

.window__content--vertical--space--wider {
   --window-content-reduce-height: calc(-1 * var(--window-options-bar-height)); /* override */
}

.window__console__prompt {
   --window-console-prompt-color: var(--color-black);

   width: 100%;
   height: 100%;
   background-color: var(--window-console-prompt-color);
   padding: 1rem;
   border: none;
   display: flex;
}

.window__console__text {
   margin: 0 0;
}

.window__console__text::selection {
   --window-console-text-selection-color: var(--color-black);
   --window-console-text-selection-background-color: var(--color-white);

   color: var(--window-console-text-selection-color);
   background-color: var(--window-console-text-selection-background-color);
}

.window__console__blinking__cursor {
   --window-console-blinking-cursor-color: var(--color-white);

   width: 0.5rem;
   height: var(--step-0);
   margin-left: 0.5rem;
   background-color: var(--window-console-blinking-cursor-color);
   animation-name: hide-animation;
   animation-duration: 1.5s;
   animation-timing-function: steps(5, end);
   animation-iteration-count: infinite;
}

#window--console--error {
   display: none;
}

.desktop:has(#icon--console--input:checked) #window--console--error {
   display: none;
} 

@media (max-width: 1000px) {
   .desktop:has(#icon--console--input:checked) #window--console--error {
      display: block;
   } 

   .desktop:has(#icon--console--input:checked) #window--console {
      display: none;
   } 
}