@import url(game.css);

/* icon */

#icon--minesweeper {
   grid-column: 2 / 2;
   grid-row: 3 / 3;
}

.icon__minesweeper {
   height: 80%;
   aspect-ratio: 1;
   position: relative;
}

.icon__minesweeper__container {
   width: 100%;
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
}

.icon__minesweeper__core {
   --icon-minesweeper-core-color: var(--color-black);
   --icon-minesweeper-core-light-color: var(--color-platinum);

   width: 80%;
   aspect-ratio: 1;
   border-radius: 50%;
   background: radial-gradient(circle at 30% 35%, var(--icon-minesweeper-core-light-color) 2%, var(--icon-minesweeper-core-color) 35%);
   z-index: 1;
}

.icon__minesweeper__horn {
   --icon-minesweeper-horn-color: var(--color-black);

   width: 10%;
   height: 100%;
   border-radius: 10px;
   z-index: 0;
   background-color: var(--icon-minesweeper-horn-color);
   position: absolute;
}

.icon__minesweeper__horn--horizontal {
   transform: rotateZ(-90deg);
}

.icon__minesweeper__horn--top--right {
   transform: rotateZ(-45deg);
}

.icon__minesweeper__horn--top--left {
   transform: rotateZ(45deg);
}

#icon--minesweeper:has(#icon--minesweeper--input:checked) .detonate--mine {
   --icon-minesweeper-detonate-mine-color: var(--color-red);

   background-color: var(--icon-minesweeper-detonate-mine-color);
}

/* window */

#window--minesweeper {
   width: clamp(290px, 20%, 300px);
   height: 435px;
   z-index: 7;
   display: none;
}

.window--minesweeper--position {
   right: 20%;
   bottom: 0;
}

.desktop:has(#icon--minesweeper--input:checked) #window--minesweeper {
   display: block;
} 

.window__minesweeper__score__board__number__display {
   --window-minesweeper-score-board-number-display-color: var(--color-black);

   width: fit-content;
   height: 100%;
   background-color: var(--window-minesweeper-score-board-number-display-color);
   display: flex;
   align-items: center;
}

.window__minesweeper__score__board__number {
   --window-minesweeper-score-board-number-color: var(--color-red);

   font-family: var(--ff-digital-numbers);
   font-size: var(--step-2);
   color: var(--window-minesweeper-score-board-number-color);
   margin: 0;
}

.window__control__button--outer--border {
   --window-control-button-outer-border-color: var(--color-platinum);

   border: var(--window-game-elevated-border-size) outset var(--window-control-button-outer-border-color);
}

.window__control__button__drawing__smiley__face {
   --window-control-button-drawing-smiley-face-color: var(--color-yellow);
   --window-control-button-drawing-smiley-face-border-color: var(--color-black);

   width: 90%;
   aspect-ratio: 1;
   background-color: var(--window-control-button-drawing-smiley-face-color);
   border-radius: 50%;
   border: 2px solid var(--window-control-button-drawing-smiley-face-border-color);
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.window__control__button__drawing__smiley__face__eyes {
   position: absolute;
   width: 80%;
   height: 40%;
   top: 15%;
   display: flex;
   justify-content: space-around;
}

.window__control__button__drawing__smiley__face__eyes::before,  .window__control__button__drawing__smiley__face__eyes::after {
   --window-control-button-drawing-smiley-face-eyes-color: var(--color-black);

   content: '';
   display: block;
   width: 20%;
   height: 100%;
   background-color: var(--window-control-button-drawing-smiley-face-eyes-color);
   border-radius: 50%;
}

.window__control__button__drawing__smiley__face__mouth {
   --window-control-button-drawing-smiley-face-mouth-color: var(--color-black);

   width: 70%;
   aspect-ratio: 1;
   border-bottom: 3px solid var(--window-control-button-drawing-smiley-face-mouth-color);
   border-radius: inherit;
}

.minesweeper--grid--cell--control--button {
   --window-control-button-size-customized-width: calc(100% / 8); /* override */
   --window-control-button-size-customized-height: calc(100% / 8); /* override */
}

#window--minesweeper--error {
   display: none;
}

.desktop:has(#icon--minesweeper--input:checked) #window--minesweeper--error {
   display: none;
} 

@media (max-width: 1000px) {
   .desktop:has(#icon--minesweeper--input:checked) #window--minesweeper--error {
      display: block;
   } 

   .desktop:has(#icon--minesweeper--input:checked) #window--minesweeper {
      display: none;
   } 
}