@import url(text-editor.css);

/* icon */

#icon--my--notes {
   grid-column: 2 / 2;
   grid-row: 1 / 1;
}

#icon--movies--to--watch {
   grid-column: 2 / 2;
   grid-row: 2 / 2;
}

.notebook--page--fold {
   --notebook-page-fold-size: 0.25;
}

@keyframes fold-page {
   from {
      clip-path: none;
   }
   to {
      clip-path: polygon(0 0, calc(100% - var(--notebook-page-fold-size) * 100%) 0, 100% calc(var(--notebook-page-fold-size) * 100%), 100% 100%, 0 100%);
   }
}

#icon--my--notes:has(#icon--my--notes--input:checked) .icon__notebook__page.fold--page {
   animation-name: fold-page;
   animation-duration: 0s;
   animation-fill-mode: forwards;
} 

#icon--movies--to--watch:has(#icon--movies--to--watch--input:checked) .icon__notebook__page.fold--page {
   animation-name: fold-page;
   animation-duration: 0s;
   animation-fill-mode: forwards;
} 

.icon__notebook__page__fold {
   --icon-notebook-page-fold-color: var(--color-black);

   width: calc(var(--notebook-page-fold-size) * 100%);
   height: calc(var(--notebook-page-fold-size) * 100%);
   background-color: var(--icon-notebook-page-fold-color);
   position: absolute;
   right: 0;
   top: 0;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   visibility: hidden;
}

.icon__notebook__page__fold::before {
   --icon-notebook-page-fold-body-border-size: var(--border-size);
   --icon-notebook-page-fold-body-color: var(--color-baby-powder);

   content: '';
   display: block;
   background-color: var(--icon-notebook-page-fold-body-color);
   width: calc(100% - var(--icon-notebook-page-fold-body-border-size));
   height: calc(100% - var(--icon-notebook-page-fold-body-border-size));
   clip-path: polygon(0 var(--icon-notebook-page-fold-body-border-size), calc(100% - var(--icon-notebook-page-fold-body-border-size)) 100%, 0 100%);
}

#icon--my--notes:has(#icon--my--notes--input:checked) .icon__notebook__page__fold.fold--page {
   animation-name: hide-animation;
   animation-duration: 0s;
   animation-fill-mode: forwards;
} 

#icon--movies--to--watch:has(#icon--movies--to--watch--input:checked) .icon__notebook__page__fold.fold--page {
   animation-name: hide-animation;
   animation-duration: 0s;
   animation-fill-mode: forwards;
} 

/* window */

#window--my--notes {
   width: clamp(305px, 25%, 380px);
   height: clamp(210px, 25%, 280px);
   z-index: 5;
   display: none;
}

.window--my--notes--position {
   top: 20%;
   left: 35%;
}

.desktop:has(#icon--my--notes--input:checked) #window--my--notes {
   display: block;
} 

#window--movies--to--watch {
   width: clamp(330px, 25%, 380px);
   height: clamp(210px, 25%, 280px);
   z-index: 6;
   display: none;
}

.window--movies--to--watch--position {
   bottom: 25%;
}

.desktop:has(#icon--movies--to--watch--input:checked) #window--movies--to--watch {
   display: block;
} 

#window--my--notes--error {
   display: none;
}

#window--movies--to--watch--error {
   display: none;
}

.desktop:has(#icon--my--notes--input:checked) #window--my--notes--error {
   display: none;
} 

.desktop:has(#icon--my--notes--input:checked) #window--movies--to--watch--error {
   display: none;
} 

@media (max-width: 1000px) {
   .desktop:has(#icon--my--notes--input:checked) #window--my--notes--error {
      display: block;
   } 

   .desktop:has(#icon--my--notes--input:checked) #window--my--notes {
      display: none;
   } 

   .desktop:has(#icon--movies--to--watch--input:checked) #window--movies--to--watch--error {
      display: block;
   } 

   .desktop:has(#icon--movies--to--watch--input:checked) #window--movies--to--watch {
      display: none;
   } 
}