@import url(navigation-tree.css);

/* icon */

.icon__mail {
   width: 90%;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.icon__mail__container {
   --icon-mail-color: var(--color-yellow);
   --icon-mail-border-color: var(--color-black);
   --icon-mail-border-size: var(--border-size);
   --icon-mail-height: 80%;

   width: 100%;
   height: var(--icon-mail-height);
   background-color: var(--icon-mail-color);
   position: absolute;
   bottom: calc(50% - (var(--icon-mail-height) / 2));
   z-index: 0;
   border-right: var(--icon-mail-border-size) solid var(--icon-mail-border-color);
   border-left: var(--icon-mail-border-size) solid var(--icon-mail-border-color);
}

.icon__mail__content {
   --icon-mail-content-color: var(--color-baby-powder);

   width: 100%;
   height: 85%;
   position: absolute;
   bottom: 0;
   background-color: var(--icon-mail-content-color);
   z-index: -1;
}

.icon__mail__seal__flap {
   --icon-mail-seal-flap-color: var(--color-black);
   --icon-mail-seal-flap-border-color: var(--color-black);

   width: 100%;
   height: 75%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   background-color: var(--icon-mail-seal-flap-color);
   position: absolute;
   z-index: 3;
   clip-path: polygon(0 0, 50% 100%, 100% 0);
   border-top: var(--icon-mail-border-size) solid var(--icon-mail-seal-flap-border-color);
   clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.icon__mail__flap__body {
   --icon-mail-flap-body-color: var(--color-yellow);

   width: 100%;
   height: 100%;
   background-color: var(--icon-mail-flap-body-color);
}

.icon__mail__flap__body--seal--flap {
   clip-path: polygon(50% calc(100% - var(--icon-mail-border-size)), calc(var(--icon-mail-border-size) + 0.75 * var(--icon-mail-border-size)) 0, calc(100% - (var(--icon-mail-border-size) + 0.75 * var(--icon-mail-border-size))) 0);
}

/*
Clip path will leave empty space at the bottom, not sure the cause, may be due to anti-alliasing ?
+ it will be too cumbersome because one has to account for the border on the side flap in order not to create a larger one from the combination of both borders
*/

.icon__mail__bottom__flap {
   --icon-mail-bottom-flap-color: var(--color-black);

   width: 100%;
   height: 50%;
   display: flex;
   align-items: center;
   position: absolute;
   bottom: 0%;
   background-color: var(--icon-mail-bottom-flap-color);
   z-index: 0;
}

.icon__mail__flap__body--bottom--flap {
   height: calc(100% - calc(var(--icon-mail-border-size) * 2));
}

.icon__mail__side__flap {
   --icon-mail-side-flap-color: var(--color-black);
   --icon-mail-side-flap-width: 0.35;

   width: calc(var(--icon-mail-side-flap-width) * 100%);
   height: 100%;
   background-color: var(--icon-mail-side-flap-color);
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   clip-path: polygon(0 0, 20% 0, 100% 50%, 20% 100%, 0 100%);
}

.icon__mail__flap__body--side--flap {
   /*clip-path: polygon(0 var(--icon-mail-border-size), calc((20% + tan(45deg) * var(--icon-mail-border-size)) - var(--icon-mail-border-size)) var(--icon-mail-border-size), calc(100% - var(--border-size)) 50%, calc(20% - var(--border-size)) 100%, 0 100%);*/
   clip-path: polygon(0 var(--icon-mail-border-size), calc(20% - (var(--icon-mail-border-size) * var(--icon-mail-side-flap-width))) var(--icon-mail-border-size), calc(100% - var(--icon-mail-border-size)) 50%, calc(20% - (var(--icon-mail-border-size) * var(--icon-mail-side-flap-width))) calc(100% - var(--icon-mail-border-size)), 0 calc(100% - var(--icon-mail-border-size)));
}

.icon__mail__side__flap--shoulder {
   left: 100%;
   top: 0;
   transform-origin: left;
   transform: rotateY(180deg);
}

#icon--mail:has(#icon--mail--input:checked) .open--seal--flap {
   animation-name: hide-animation;
   animation-duration: 0s;
   animation-fill-mode: forwards;
   animation-direction: reverse;
} 

/* window */

#window--mail {
   --window-mail-control-buttons-height: 10%;

   width: clamp(590px, 45%, 685px);
   height: clamp(370px, 40%, 480px);
   z-index: 3;
   display: none;
}

.window--mail--position {
   bottom: 0;
   left: 40%;
}

.desktop:has(#icon--mail--input:checked) #window--mail {
   display: block;
} 

.icon__mail__container--small--border {
   --icon-mail-border-size: calc(var(--border-size) / 2); /* override */
}

.window__mail__control__buttons {
   height: var(--window-mail-control-buttons-height);
   width: 100%;
   display: flex;
}

.window__mail__control__buttons > *:not(:first-child) {
   margin-left: 2.5rem;
}

.window__control__button__drawing__mail, .window__control__button__drawing__mail__seal__flap {
   --window-control-button-drawing-mail-color: var(--color-black);

   position: absolute;
   background-color: var(--window-control-button-drawing-mail-color);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1px;
}

.window__control__button__drawing__mail {
   width: 60%;
   aspect-ratio: 1;
   clip-path: polygon(0% 100%, 0% 35%, 30% 0, 70% 0, 100% 35%, 100% 100%);
}

.window__control__button__drawing__mail::before {
   --window-control-button-drawing-mail-body-color: var(--color-yellow);

   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background-color: var(--window-control-button-drawing-mail-body-color);
   clip-path: polygon(0% 100%, 0% 35%, 30% 0, 70% 0, 100% 35%, 100% 100%);
}

.window__control__button__drawing__mail__seal__flap {
   width: 100%;
   height: 50%;
   bottom: 0;
   clip-path: polygon(0 100%, 0 80%, 30% 0, 70% 0, 100% 80%, 100% 100%);
}

.window__control__button__drawing__mail__seal__flap::before {
   --window-control-button-drawing-mail-seal-flap-body-color: var(--color-yellow);

   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background-color: var(--window-control-button-drawing-mail-seal-flap-body-color);
   clip-path: polygon(0 100%, 0 80%, 30% 0, 70% 0, 100% 80%, 100% 100%);
}

.window__control__button__drawing__copy__file--bottom--left--position {
   left: 0%;
   bottom: 0%;
}

.window__control__button__drawing__copy__file--smaller {
   width: 50%;
   height: 50%;
}

.window__control__button__drawing__copy__file--center--position {
   bottom: 20%;
   left: 20%;
}

.window__control__button__drawing__mail--bottom--right--position {
   bottom: 0;
   right: 0;
   z-index: -1;
}

.mail--content--layout {
   --window-content-split-first-column-width: 30%; /* override */
   --window-content-split-column-space: 2%; /* override */
   --window-navigation-tree-content-width: 100%; /* override */
}

.window__content--vertical--space--shorter {
   --window-content-reduce-height: var(--window-mail-control-buttons-height); /* override */

   padding-top: 0.3rem;
}

.window__navigation__tree__icon__root--folder {
   --window-navigation-tree-icon-root-width: 20%;
   --window-navigation-tree-icon-root-height: 10%;

   display: flex;
}

.window__mail__content__columns {
   width: 100%;
   height: 100%;
   display: flex;
}

.mail--content--columns--layout {
   --window-mail-content-first-column-width: 25%;
   --window-mail-content-second-column-width: 35%;
   --window-mail-content-third-column-width: calc(100% - var(--window-mail-content-first-column-width) - var(--window-mail-content-second-column-width));
}

.window__mail__content__columns  .window__mail__content__column:first-child {
   width: var(--window-mail-content-first-column-width);
}

.window__mail__content__columns  .window__mail__content__column:nth-child(2) {
   width: var(--window-mail-content-second-column-width);
}

.window__mail__content__columns  .window__mail__content__column:nth-child(3) {
   width: var(--window-mail-content-third-column-width);
}

.window__mail__content__column {
   --window-mail-content-column-description-height: 10%;

   height: 100%;
}

.window__mail__content__column__description {
   width: 100%;
   height: var(--window-mail-content-column-description-height);
}

.mail--column--description--control--button {
   --window-control-button-size-customized-width: 100%; /* override */
   --window-control-button-size-customized-height: 100%; /* override */
}

.window__control__button--left--align {
   justify-content: flex-start;
}

.window__mail__content__column__content {
   width: 100%;
   height: calc(100% - var(--window-mail-content-column-description-height));
}

.window__mail__content__column__content__entry {
   --window-mail-content-column-content-entry-color: var(--color-navy-blue);

   background-color: var(--window-mail-content-column-content-entry-color);
   padding-block: 0.3rem;
}

#window--mail--error {
   display: none;
}

.desktop:has(#icon--mail--input:checked) #window--mail--error {
   display: none;
} 

@media (max-width: 1000px) {
   .desktop:has(#icon--mail--input:checked) #window--mail--error {
      display: block;
   } 

   .desktop:has(#icon--mail--input:checked) #window--mail {
      display: none;
   } 
}