.window__navigation__tree__content {
   --window-navigation-tree-content-line-box-space: 10%;
   --window-navigation-tree-content-vertical-line-box-height-difference: 10%;

   width: var(--window-navigation-tree-content-width);
   height: 100%;
   position: relative;
}

.window__navigation__tree__content__vertical__line__box {
   --window-navigation-tree-content-vertical-line-box-border-color: var(--color-gray);

   width: 10%;
   height: 100%;
   border: 1px dashed var(--window-navigation-tree-content-vertical-line-box-border-color);
   left: var(--window-navigation-tree-content-line-box-space);
   position: absolute;
   bottom: 0;
}

.window__navigation__tree__content__vertical__line__box--level--1 {
   border-bottom: none;
   border-top: none;
}

.window__navigation__tree__content__vertical__line__box--level--2 {
   border-left: none;
   border-bottom: none;
   height: calc(100% - var(--window-navigation-tree-content-vertical-line-box-height-difference));
   left: calc(2 * var(--window-navigation-tree-content-line-box-space));
}

.window__navigation__tree__content__vertical__line__box--level--3 {
   border-left: none;
   border-right: none;
   border-bottom: none;
   left: calc(3 * var(--window-navigation-tree-content-line-box-space));
}

.window__navigation__tree__content__vertical__line__box--level--3--1 {
   height: calc(100% - var(--window-navigation-tree-content-vertical-line-box-height-difference) * 2);
}

.window__navigation__tree__content__vertical__line__box--level--3--2 {
   height: calc(100% - var(--window-navigation-tree-content-vertical-line-box-height-difference) * 3);
}

.window__navigation__tree__content__vertical__line__box--level--3--3 {
   height: calc(100% - var(--window-navigation-tree-content-vertical-line-box-height-difference) * 4);
}

.window__navigation__tree__icon__folder {
   --window-navigation-tree-icon-folder-height: 9%;

   width: fit-content;
   height: var(--window-navigation-tree-icon-folder-height);
   display: flex;
   align-items: center;
   gap: 5px;
   position: absolute;
   left: calc(4 * var(--window-navigation-tree-content-line-box-space) + 2px);
}

.window__navigation__tree__icon__folder--level--1 {
   top: calc(var(--window-navigation-tree-content-vertical-line-box-height-difference) * 2 - (var(--window-navigation-tree-icon-folder-height) / 2));
}

.window__navigation__tree__icon__folder--level--2 {
   top: calc(var(--window-navigation-tree-content-vertical-line-box-height-difference) * 3 - (var(--window-navigation-tree-icon-folder-height) / 2));
}

.window__navigation__tree__icon__folder--level--3 {
   top: calc(var(--window-navigation-tree-content-vertical-line-box-height-difference) * 4 - (var(--window-navigation-tree-icon-folder-height) / 2));
}

.window__navigation__tree__icon__root {
   width: var(--window-navigation-tree-icon-root-width);
   height: var(--window-navigation-tree-icon-root-height);
   position: absolute;
   left: calc(3 * var(--window-navigation-tree-content-line-box-space) - (var(--window-navigation-tree-icon-root-width) / 4) - 1px);
   top: calc(var(--window-navigation-tree-content-vertical-line-box-height-difference) - (var(--window-navigation-tree-icon-root-height) / 2));
}