.window {
   --window-padding: 0.3rem;
   --window-title-bar-height: 2.5rem;
   --window-options-bar-height: 2.5rem;
   --window-shadow-size: 2px;
   --window-shadow-blur: 1px;

   background-color: var(--color-silver);
   padding: var(--window-padding);
   box-shadow: var(--window-shadow-size) var(--window-shadow-size) 0px 0px var(--color-platinum) inset,
               var(--window-shadow-size) var(--window-shadow-size) var(--window-shadow-blur) 0px var(--color-black),
               0px var(--window-shadow-size) var(--window-shadow-blur) 0px var(--color-black);
   position: absolute;
}

.window__title__bar {
   --window-title-bar-color: var(--color-navy-blue);

   width: 100%;
   height: var(--window-title-bar-height);
   background-color: var(--window-title-bar-color);
   display: flex;
   justify-content: space-between;
}

.window__title__bar *, .window__options__bar * {
   user-select: none;
}

.window__title__bar__icon__title__container {
   height: 100%;
   display: flex;
}

.window__title__bar__icon {
   height: 100%;
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.window__title__bar__title {
   margin: auto 0.5rem;
   font-weight: bold;
   font-size: var(--step--1);
}

.window__title__bar__control__buttons {
   height: 100%;
   aspect-ratio: 3 / 1;
   padding: 0.3rem;
   display: flex;
}

.window__control__button {
   --window-control-button-color: var(--color-silver);
   --window-control-button-border-color: var(--color-platinum);
   --window-control-button-border-bottom-right-color: var(--color-black);

   background-color: var(--window-control-button-color);
   border: 2px outset var(--window-control-button-border-color);
   border-right-color: 2px outset var(--window-control-button-border-bottom-right-color);
   border-bottom-color: 2px outset var(--window-control-button-border-bottom-right-color);
   padding: 0.2rem;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.window__control__button--vertical--square {
   height: 100%;
   aspect-ratio: 1;
}

.window__control__button--horizontal--square {
   width: 100%;
   aspect-ratio: 1;
}

.window__control__button--size--customized {
   width: var(--window-control-button-size-customized-width);
   height: var(--window-control-button-size-customized-height);
}

.window__control__button__drawing__dash {
   --window-control-button-drawing-dash-color: var(--color-black);

   width: 75%;
   height: 15%;
   background-color: var(--window-control-button-drawing-dash-color);
   align-self: flex-end;
}

.window__control__button__drawing__maximize {
   --window-control-button-drawing-maximize-color: var(--color-black);

   width: 80%;
   aspect-ratio: 1;
   border: 2px solid var(--window-control-button-drawing-maximize-color);
   border-top: 4px solid var(--window-control-button-drawing-maximize-color);
}

.window__control__button__drawing__close {
   --window-control-button-drawing-close-line-size: 2px;
   --window-control-button-drawing-close-color: var(--color-black);

   width: 90%;
   aspect-ratio: 1;
   background: 
      linear-gradient(45deg, 
         transparent 45%,
         var(--window-control-button-drawing-close-color) 50%,
         var(--window-control-button-drawing-close-color) calc(50% + var(--window-control-button-drawing-close-line-size)),
         transparent calc(50% + var(--window-control-button-drawing-close-line-size) + 5%)),
      linear-gradient(-45deg, 
         transparent 45%,
         var(--window-control-button-drawing-close-color) 50%,
         var(--window-control-button-drawing-close-color) calc(50% + var(--window-control-button-drawing-close-line-size)),
         transparent calc(50% + var(--window-control-button-drawing-close-line-size) + 5%));
}

.window__options__bar {
   width: 100%;
   height: var(--window-options-bar-height);
   display: flex;
   padding: 0.2rem;
}

.window__options__bar__option {
   width: fit-content;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.window__options__bar__option:hover {
   --window-options-bar-option-hover-color: var(--color-navy-blue);

   background-color: var(--window-options-bar-option-hover-color);
}

.window__body__text {
   --window-body-text-color: var(--color-black);

   margin: auto 0.5rem;
   color: var(--window-body-text-color);
   font-size: var(--step--1);
}

.window__body__text--bold {
   font-weight: bolder;
}

.window__options__bar__option:hover > .window__body__text {
   --window-options-bar-option-hover-body-text-color: var(--color-white);

   color: var(--window-options-bar-option-hover-body-text-color);
}

.window__options__bar__option::first-letter {
   text-decoration: underline;
}

.window__content {
   --window-content-reduce-height: 0%;

   width: 100%;
   height: calc(100% - (var(--window-options-bar-height) + var(--window-title-bar-height) + var(--window-content-reduce-height)));
   display: flex;
}

.window__content--split {
   --window-content-split-first-column-width: 50%;
   --window-content-split-column-space: 0%;
   --window-content-split-second-column-width: calc(100% - var(--window-content-split-first-column-width) - var(--window-content-split-column-space));

   display: flex;
   justify-content: space-between;
}

.window__content--split .window__content__split__column:first-child {
   width: var(--window-content-split-first-column-width);
}

.window__content--split .window__content__split__column:nth-child(2) {
   width: var(--window-content-split-second-column-width);
}

.window__content__split__column {
   /* do we need those for every split ? */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.window__content__space {
   --window-content-space-top-left-border-color: var(--color-black);
   --window-content-space-bottom-right-border-color: var(--color-platinum);
   --window-content-space-height: 100%;

   width: 100%;
   height: var(--window-content-space-height);
   background-color: var(--color-white);
   border-top: 2px solid var(--window-content-space-top-left-border-color);
   border-left: 2px solid var(--window-content-space-top-left-border-color);
   border-right: 2px solid var(--window-content-space-bottom-right-border-color);
   border-bottom: 2px solid var(--window-content-space-bottom-right-border-color);
   overflow: hidden; /*https://www.w3.org/TR/CSS2/box.html#collapsing-margins*/
   display: flex;
}

.window__scrollbar {
   --window-scrollbar-shadow-color: var(--color-dim-gray);
   --window-scrollbar-color: var(--color-silver);
   --window-scrollbar-fixed-size: 1.5rem;
   --window-scrollbar-width: var(--window-scrollbar-fixed-size);
   --window-scrollbar-height: 100%;

   width: var(--window-scrollbar-width);
   height: var(--window-scrollbar-height);
   background-color: var(--window-scrollbar-color);
   box-shadow: 1px 1px 1px 0px var(--window-scrollbar-shadow-color) inset,
               -1px -1px 1px 0px var(--window-scrollbar-shadow-color) inset;
   display: flex;
   flex-direction: column;
}

.window__scrollbar__background {
   width: 100%;
   height: 100%;
   display: flex;
}

.window__control__button--scrollbar {
   align-self: flex-end;
   width: 100%;
   height: 60%;
}

.window__control__button--bottom--align {
   margin-top: auto;
}

.window__content__space--dropdown {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0;
}

.window__body__text--dropdown {
   width: fit-content;
}

.window__body__text--selected {
   color: var(--color-white);
   background-color: var(--color-navy-blue);
}

.window__scrollbar--vertical--shorter {
   --window-scrollbar-height: calc(100% - var(--window-scrollbar-fixed-size));
}

.window__content__space__horizontally__scrollable {
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}

.window__scrollbar--horizontal {
   --window-scrollbar-height: var(--window-scrollbar-fixed-size);
   --window-scrollbar-width: 100%;

   flex-direction: row;
}

.window__control__button--right--align {
   margin-left: auto;
}

.window--error {
   width: clamp(250px, 50%, 400px);
   height: 130px;
}

.window__error__icon {
   width: 20%;
   min-width: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.window__error__icon__container {
   height: 70%;
   aspect-ratio: 1;
   position: relative;
}

.window__error__message {
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}